@font-face {
	font-family: 'syntax-roman';
	src: url('fonts/SyntaxLTStd-Roman.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'syntax-black';
	src: url('fonts/SyntaxLTStd-Black.woff') format('woff');
	font-weight: normal;
}
@font-face {
	font-family: 'zapf-dingbats';
	src: url('fonts/ZapfDingbatsITC.woff') format('woff');
}

body {
	color: rgb(65, 64, 66);
}

h1 {
	font-size: 18px;
	color: rgb(120, 89, 177);
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'syntax-black',sans-serif;
	margin-bottom: 1.4em;
	line-height: 1.95;
}

p {
	font-size: 18px;
	font-family: 'syntax-roman',sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.95;
	margin-bottom: 1.65em;
}

.db {
	font-family: 'zapf-dingbats';
	color: rgb(120, 89, 177);
}

a:link {
	color: rgb(120, 89, 177);
	text-decoration: none;
}

a:visited {
	color: rgb(109, 111, 113);
}

main {
	margin-top: 6em;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}